@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1A1A40; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1A1A40; 
  padding: 2rem; 
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #77d2ff;
  padding: 0.75rem 1.25rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 850px;
  color: #fff;
  border-radius: 5px;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #77d2ff;
  color: #1A1A40;
  border: none;
  padding: 0.80rem;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #4f92b3; */
  background: #1A1A40;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem; 
  box-shadow: 0 2px 4px 0 #4f92b3, 0 3px 10px 0 #4f92b3;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #fff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}